.exam-section-container {
    width:100% !important;
}

.exam-card {
    border-radius: 12px;
    width:100% !important;
}

.exam-icon-wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}

.exam-medal-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 50px;
    line-height: 1;
    color: #ff6900;
}

.exam-start-btn {
    background-color: #ff6900 !important;
    border-color: #ff6900 !important;
    border-radius: 20px !important;
    font-size: 1.15rem;
    transition: background-color 0.2s;
    color: rgba(255, 255, 255, 0.8) !important;
}

.exam-start-btn:hover {
    background-color: #e67e00 !important;
    border-color: #e67e00 !important;
}